<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/a8edfd58-5b83-4e4f-9180-eb43736dd59e/resourcegroups/FreeNorthEurope/providers/Microsoft.Web/sites/XamarinFormsAndroidTVSkeletonMobileAppService20180719045458</ResourceId>
    <ResourceGroup>FreeNorthEurope</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://xamarinformsandroidtvskeletonmobileappservice20180719045458.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>285586aa-ab26-45b3-bdb4-4b0ceef3a3be</ProjectGuid>
    <MSDeployServiceURL>xamarinformsandroidtvskeletonmobileappservice20180719045458.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>XamarinFormsAndroidTVSkeletonMobileAppService20180719045458</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$XamarinFormsAndroidTVSkeletonMobileAppService20180719045458</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>